#
# PostgreSQL database to store data of users
#
POSTGRESQL_DB_HOST = 'localhost'
POSTGRESQL_DB_HOST_PORT = '5432'
POSTGRESQL_DB_NAME = 'postgres'
POSTGRESQL_ADMIN_USER = 'postgres'
POSTGRESQL_ADMIN_PASSWORD = 'dbsetupmate'


#
# PostgreSQL database to store shared/public data (uses main POSTGRESQL_DB_HOST and POSTGRESQL_DB_HOST_PORT)
#
POSTGRESQL_SHARED_DB = 'dbsetupmate_db_shared'
POSTGRESQL_SHARED_USER = 'dbsetupmate_user_shared'
POSTGRESQL_SHARED_PASSWORD = 'dbsetupmate'

POSTGRESQL_SHARED_USER_READONLY = 'dbsetupmate_user_shared_ro'
POSTGRESQL_SHARED_USER_READONLY_PASSWORD = 'dbsetupmate'